<svg class="img-responsive" id="state_machine-traffic_light" width="500pt" height="123pt"
 viewBox="0.00 0.00 500.04 123.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 119)">
<title>workflow</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-119 496.041,-119 496.041,4 -4,4"/>
<!-- place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c -->
<g id="node1" class="node">
<title>place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c</title>
<ellipse fill="#add8e6" stroke="#333333" cx="57.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-55.4746" font-family="Arial" font-size="9.00" fill="#000000">green</text>
</g>
<!-- place_96de5543d183d7de52ac5fa21c46fc811f673f89 -->
<g id="node2" class="node">
<title>place_96de5543d183d7de52ac5fa21c46fc811f673f89</title>
<ellipse fill="none" stroke="#333333" cx="246.0205" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="246.0205" y="-55.4746" font-family="Arial" font-size="9.00" fill="#000000">yellow</text>
</g>
<!-- place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c&#45;&gt;place_96de5543d183d7de52ac5fa21c46fc811f673f89 -->
<g id="edge3" class="edge">
<title>place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c&#45;&gt;place_96de5543d183d7de52ac5fa21c46fc811f673f89</title>
<path fill="none" stroke="#333333" d="M115.0867,-57.5C136.6395,-57.5 161.2229,-57.5 183.2233,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="183.4619,-59.2501 188.4619,-57.5 183.4618,-55.7501 183.4619,-59.2501"/>
<text text-anchor="middle" x="151.7603" y="-60.6491" font-family="Arial" font-size="9.00" fill="#000000">to_yellow</text>
</g>
<!-- place_96de5543d183d7de52ac5fa21c46fc811f673f89&#45;&gt;place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c -->
<g id="edge1" class="edge">
<title>place_96de5543d183d7de52ac5fa21c46fc811f673f89&#45;&gt;place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c</title>
<path fill="none" stroke="#333333" d="M189.7279,-44.7715C183.2786,-43.6959 176.7755,-42.7803 170.5205,-42.1509 153.9285,-40.4814 149.592,-40.4814 133,-42.1509 128.4065,-42.6131 123.6791,-43.2297 118.9376,-43.9506"/>
<polygon fill="#333333" stroke="#333333" points="118.4544,-42.2555 113.7926,-44.7715 119.0059,-45.7118 118.4544,-42.2555"/>
<text text-anchor="middle" x="151.7603" y="-44.6491" font-family="Arial" font-size="9.00" fill="#000000">to_green</text>
</g>
<!-- place_78988010b890ce6f4d2136481f392787ec6d6106 -->
<g id="node3" class="node">
<title>place_78988010b890ce6f4d2136481f392787ec6d6106</title>
<ellipse fill="none" stroke="#333333" cx="434.541" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="434.541" y="-55.4746" font-family="Arial" font-size="9.00" fill="#000000">red</text>
</g>
<!-- place_96de5543d183d7de52ac5fa21c46fc811f673f89&#45;&gt;place_78988010b890ce6f4d2136481f392787ec6d6106 -->
<g id="edge2" class="edge">
<title>place_96de5543d183d7de52ac5fa21c46fc811f673f89&#45;&gt;place_78988010b890ce6f4d2136481f392787ec6d6106</title>
<path fill="none" stroke="#333333" d="M303.6072,-57.5C325.16,-57.5 349.7434,-57.5 371.7438,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="371.9824,-59.2501 376.9824,-57.5 371.9823,-55.7501 371.9824,-59.2501"/>
<text text-anchor="middle" x="340.2808" y="-60.6491" font-family="Arial" font-size="9.00" fill="#000000">to_red</text>
</g>
<!-- place_78988010b890ce6f4d2136481f392787ec6d6106&#45;&gt;place_96de5543d183d7de52ac5fa21c46fc811f673f89 -->
<g id="edge4" class="edge">
<title>place_78988010b890ce6f4d2136481f392787ec6d6106&#45;&gt;place_96de5543d183d7de52ac5fa21c46fc811f673f89</title>
<path fill="none" stroke="#333333" d="M378.2248,-45.6C371.7799,-44.5947 365.2843,-43.7389 359.041,-43.1509 342.4387,-41.5872 338.1228,-41.5872 321.5205,-43.1509 316.9356,-43.5827 312.2146,-44.1589 307.4775,-44.8328"/>
<polygon fill="#333333" stroke="#333333" points="307.0235,-43.131 302.3367,-45.6 307.5403,-46.5927 307.0235,-43.131"/>
<text text-anchor="middle" x="340.2808" y="-45.6491" font-family="Arial" font-size="9.00" fill="#000000">to_yellow</text>
</g>
</g>
</svg>
